.sleep-hypnogram-chart {
    background: #1e1842;
    position: relative;
}

.sleep-hypnogram-chart .hypnogram-segment,
.sleep-hypnogram-chart .hypnogram-segment-cap {
    opacity: 0;
    -webkit-transition: opacity .7s;
    transition: opacity .7s
}

.sleep-hypnogram-chart .active-stage {
    opacity: .35
}

.sleep-hypnogram-chart .hypnogram {
    opacity: 1;
    -webkit-transition: opacity .7s;
    transition: opacity .7s;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: none
}

.sleep-hypnogram-chart .hypnogram-path {
    fill: none;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    opacity: 1;
    -webkit-transition: opacity .7s;
    transition: opacity .7s
}

.sleep-hypnogram-chart .axis-x .domain,
.sleep-hypnogram-chart .axis-x .tick line {
    stroke: #fff;
    shape-rendering: crispEdges
}

.sleep-hypnogram-chart .hide-hypnogram {
    opacity: .25
}

.sleep-hypnogram-chart .hide-hypnogram.hypnogram-path {
    opacity: .05
}

.sleep-hypnogram-chart .hypnogram-short-wake {
    opacity: .5;
    fill: #f7386e
}

.sleep-hypnogram-chart .axis-y .domain,
.sleep-hypnogram-chart .axis-y .tick line {
    display: none;
}

.sleep-hypnogram-chart .axis-x .tick text,
.sleep-hypnogram-chart .axis-y .tick text {
    fill: #fff;
    font: normal normal .6875rem "Proxima Nova Regular", Arial, sans-serif
}

@media screen and (max-width:39.9375em) {
    .sleep-hypnogram-chart .axis-x .tick:nth-child(odd) {
        display: none
    }

    .sleep-hypnogram-chart .axis-x .tick:last-child {
        display: block
    }
}

/* .hypnogram-chart-tooltip {
    color: white;
    height: 30px;
    position: absolute;
    background-color: red;
} */

.hypnogram-chart-tooltip {
    visibility: hidden;
    position: absolute;
    text-align: center;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    background-color: #fff;
    color: #000;
    border-radius: .25rem;
    padding: 1.25rem;
    border: .0625rem solid #ededed;
    -webkit-box-shadow: 0 0 .375rem 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 .375rem 0 rgba(0, 0, 0, .05)
}

.hypnogram-chart-tooltip:after,
.hypnogram-chart-tooltip:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.hypnogram-chart-tooltip:after {
    border-color: #fff transparent transparent;
    border-width: .5rem;
    margin-left: -.5rem
}

.hypnogram-chart-tooltip:before {
    border-color: #ededed transparent transparent;
    border-width: .5625rem;
    margin-left: -.5625rem
}

.hypnogram-chart-tooltip .tooltip-label {
    font-weight: bold;
}
